.Form {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
  }

  .methods {
    span {
      margin-right: 10px;
      cursor: pointer;
    }

    .active {
      font-weight: bold;
    }
  }

  button[type="submit"] {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
}
